In [1]:
import pandas as pd

In [4]:
df = pd.read_csv("df_final_outer_patrick.csv")
df.head()

,Unnamed: 0,Player,Tm,Salary,Cap Hit,Age,GP,G,A,PTS,...,Tm_VAN,Tm_VEG,Tm_WPG,Tm_WSH,Pos_C,Pos_D,Pos_F,Pos_LW,Pos_RW,Pos_W
0,0,Mikko Rantanen,COL,"10,000,000","9,250,000",25.0,66.0,35.0,47.0,82.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1,Jack Eichel,VEG,"10,000,000","10,000,000",25.0,23.0,9.0,8.0,17.0,...,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
2,2,Blake Wheeler,WPG,"10,000,000","8,250,000",35.0,56.0,12.0,42.0,54.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,3,Jeff Skinner,BUF,"10,000,000","9,000,000",29.0,68.0,28.0,22.0,50.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
4,4,Vladimir Tarasenko,STL,"9,500,000","7,500,000",30.0,61.0,23.0,36.0,59.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [13]:
df = df.drop(columns=["Unnamed: 0"])
df.head()

,Player,Tm,Salary,Cap Hit,Age,GP,G,A,PTS,+/-,...,Tm_VAN,Tm_VEG,Tm_WPG,Tm_WSH,Pos_C,Pos_D,Pos_F,Pos_LW,Pos_RW,Pos_W
0,Mikko Rantanen,COL,"10,000,000","9,250,000",25.0,66.0,35.0,47.0,82.0,32.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,Jack Eichel,VEG,"10,000,000","10,000,000",25.0,23.0,9.0,8.0,17.0,2.0,...,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
2,Blake Wheeler,WPG,"10,000,000","8,250,000",35.0,56.0,12.0,42.0,54.0,-6.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,Jeff Skinner,BUF,"10,000,000","9,000,000",29.0,68.0,28.0,22.0,50.0,-12.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
4,Vladimir Tarasenko,STL,"9,500,000","7,500,000",30.0,61.0,23.0,36.0,59.0,-3.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [15]:
df = df.fillna(0)
df.tail()

,Player,Tm,Salary,Cap Hit,Age,GP,G,A,PTS,+/-,...,Tm_VAN,Tm_VEG,Tm_WPG,Tm_WSH,Pos_C,Pos_D,Pos_F,Pos_LW,Pos_RW,Pos_W
1003,Zac Dalpe,0,0,0,32.0,1.0,0.0,0.000000,0.000000,-1.0,...,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1004,Zach Sanford,0,0,0,27.0,46.0,6.0,6.666667,12.666667,-8.0,...,0.0,0.0,0.333333,0.0,0.0,0.0,0.0,1.0,0.0,0.0
1005,Zach Werenski,0,0,0,24.0,60.0,10.0,32.000000,42.000000,-13.0,...,0.0,0.0,0.000000,0.0,0.0,1.0,0.0,0.0,0.0,0.0
1006,Zachary Jones,0,0,0,21.0,11.0,0.0,2.000000,2.000000,-5.0,...,0.0,0.0,0.000000,0.0,0.0,1.0,0.0,0.0,0.0,0.0
1007,Zack Hayes,0,0,0,22.0,3.0,0.0,0.000000,0.000000,-2.0,...,0.0,1.0,0.000000,0.0,0.0,1.0,0.0,0.0,0.0,0.0

In [17]:
positions = ["Pos_C","Pos_D","Pos_F","Pos_LW", "Pos_RW", "Pos_W"]
p_groups = {}

for p in positions:
    p_df = df.loc[df[p]==1]
    p_groups[p] = p_df

In [18]:
p_groups["Pos_D"]

,Player,Tm,Salary,Cap Hit,Age,GP,G,A,PTS,+/-,...,Tm_VAN,Tm_VEG,Tm_WPG,Tm_WSH,Pos_C,Pos_D,Pos_F,Pos_LW,Pos_RW,Pos_W
5,Oliver Ekman-Larsson,VAN,"9,240,000","7,260,000",30.0,67.0,4.0,17.0,21.0,1.0,...,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
6,Justin Faulk,STL,"9,000,000","6,500,000",29.0,62.0,9.0,25.0,34.0,30.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
12,Ryan McDonagh,TBL,"8,400,000","6,750,000",32.0,60.0,3.0,18.0,21.0,7.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
13,Cale Makar,COL,"8,000,000","9,000,000",23.0,65.0,24.0,51.0,75.0,39.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
20,Victor Hedman,TBL,"8,000,000","7,875,000",31.0,68.0,19.0,47.0,66.0,17.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1000,Wyatt Kalynuk,0,0,0,24.0,5.0,0.0,0.0,0.0,-3.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
1002,Yegor Zamula,0,0,0,21.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
1005,Zach Werenski,0,0,0,24.0,60.0,10.0,32.0,42.0,-13.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
1006,Zachary Jones,0,0,0,21.0,11.0,0.0,2.0,2.0,-5.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
1007,Zack Hayes,0,0,0,22.0,3.0,0.0,0.0,0.0,-2.0,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0

In [20]:
df.shape

(1008, 66)

In [28]:
df.iloc[:,:60].head()

,Player,Tm,Salary,Cap Hit,Age,GP,G,A,PTS,+/-,...,Tm_SEA,Tm_SJS,Tm_STL,Tm_TBL,Tm_TOR,Tm_TOT,Tm_VAN,Tm_VEG,Tm_WPG,Tm_WSH
0,Mikko Rantanen,COL,"10,000,000","9,250,000",25.0,66.0,35.0,47.0,82.0,32.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,Jack Eichel,VEG,"10,000,000","10,000,000",25.0,23.0,9.0,8.0,17.0,2.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
2,Blake Wheeler,WPG,"10,000,000","8,250,000",35.0,56.0,12.0,42.0,54.0,-6.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,Jeff Skinner,BUF,"10,000,000","9,000,000",29.0,68.0,28.0,22.0,50.0,-12.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,Vladimir Tarasenko,STL,"9,500,000","7,500,000",30.0,61.0,23.0,36.0,59.0,-3.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0